# Project exclude paths
/.gradle/
/azurMobile/build/intermediates/assets/
/azurMobile/build/intermediates/blame/
/azurMobile/build/intermediates/classes/
/azurMobile/build/intermediates/classes/debug/
/azurMobile/build/intermediates/incremental/
/azurMobile/build/intermediates/incremental-classes/
/azurMobile/build/intermediates/incremental-runtime-classes/
/azurMobile/build/intermediates/incremental-safeguard/
/azurMobile/build/intermediates/incremental-verifier/
/azurMobile/build/intermediates/instant-run-resources/
/azurMobile/build/intermediates/instant-run-support/
/azurMobile/build/intermediates/manifests/
/azurMobile/build/intermediates/ndkBuild/
/azurMobile/build/intermediates/pre-dexed/
/azurMobile/build/intermediates/res/
/azurMobile/build/intermediates/restart-dex/
/azurMobile/build/intermediates/split-apk/
/azurMobile/build/intermediates/symbols/
/azurMobile/build/intermediates/transforms/
/azurMobile/build/outputs/
/azurMobile/build/reports/
/library/build/intermediates/blame/
/library/build/intermediates/bundles/
/library/build/intermediates/classes/
/library/build/intermediates/incremental/
/library/build/intermediates/incremental-safeguard/
/library/build/intermediates/manifests/
/library/build/intermediates/res/
/library/build/intermediates/symbols/
/library/build/intermediates/transforms/
/library/build/outputs/
/mPChartLib/build/intermediates/blame/
/mPChartLib/build/intermediates/bundles/
/mPChartLib/build/intermediates/classes/
/mPChartLib/build/intermediates/incremental/
/mPChartLib/build/intermediates/incremental-safeguard/
/mPChartLib/build/intermediates/manifests/
/mPChartLib/build/intermediates/res/
/mPChartLib/build/intermediates/symbols/
/mPChartLib/build/intermediates/transforms/
/mPChartLib/build/outputs/